@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Source+Sans+Pro:wght@300;400;500&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: 'Dongle', sans-serif;
}

h1 {
  font-size: 5vw;
  font-weight: 700;
}

.App {
  text-align: center;
}

:root {
  --brand-yellow: #ffc107;
}


.logo {
  max-height: 70px;
}

#navbarNav {
  justify-content: end;
}

.shelter-block {
  padding: 30px;
  border-radius: 8px;
  background-color: white;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.navbar-offset {
  padding-top: 95px;
}

.text-default {
  color: #282c34;
  font-weight: 600;
}

.btn {
  font-weight: 600;
}

.all-pets, .muted-wrap {
  background-color: #f2f2f2;
  min-height: calc(100vh - 95px);
}

.btn-blank {
  background: transparent;
  border: 0;
  display: block;
  box-shadow: none;
  overflow: visible;
}

.pet {
  background-color: white;
  overflow: hidden;
  display: block;
  border-radius: 8px;
  box-shadow: 0, 10px, 4px, -2px, black;
}

.pet .object-wrap {
  width: 100%;
  height: 230px;
  overflow: hidden;
}

.pet .text-wrap {
  padding: 10px;
  color: #282c34;
}

.pet .text-wrap p {
  margin: 0;
  font-weight: 500;
  display: block;
}

.pet:hover {
  text-decoration: none;
}

.pet .object-wrap img {
  transition: 0.1s linear all 0s;
}

.pet:hover .object-wrap img {
  transform: scale(1.1);
  transition: 0.1s linear all 0s;
}

.pet .text-wrap p span {
  display: inline-block;
  margin-left: auto;
}

.form-search-wrap {
  padding: 60px 0;
  background-image: url('https://images.pexels.com/photos/46024/pexels-photo-46024.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.form-search-wrap label {
  font-weight: 600;
}

.img-sizer {
  height: 230px;
  width: 100%;
}

.form-search-wrap::after {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.relative {
  position: relative;
  z-index: 10;
}


@media (min-width: 576px) {
  .nav-item {
    margin-left: 5px;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.9);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
